---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/main/schema/compose-spec.json
services:
  caddy:
    image: caddy:2-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config

  adistantcloud:
    image: agiannif/adistantcloud:latest
    restart: always
    expose:
      - "1212"
    volumes:
      ./data/adistantcloud/assets:/assets
      ./data/adistantcloud/config:/config

  asoftfacade:
    image: ghost:6-alpine
    restart: always
    expose:
      - "2368"
    environment:
      NODE_ENV: production
      url: https://${DOMAIN:?DOMAIN environment variable is required}
      admin__url: ${ADMIN_DOMAIN:+https://${ADMIN_DOMAIN}}
      database__client: mysql
      database__connection__host: ghost-db
      database__connection__user: ghost
      database__connection__password: ${DATABASE_PASSWORD:?DATABASE_PASSWORD environment variable is required}
      database__connection__database: ghost
    volumes:
      - ./data/ghost:/var/lib/ghost/content
    depends_on:
      ghost-db:
        condition: service_healthy

  ghost-db:
    image: mysql:8.0
    restart: always
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD:?DATABASE_ROOT_PASSWORD environment variable is required}
      MYSQL_USER: ghost
      MYSQL_PASSWORD: ${DATABASE_PASSWORD:?DATABASE_PASSWORD environment variable is required}
      MYSQL_DATABASE: ghost
    volumes:
      - ./data/mysql:/var/lib/mysql
    healthcheck:
      test: mysqladmin ping -p$$MYSQL_ROOT_PASSWORD -h 127.0.0.1
      interval: 1s
      start_period: 30s
      start_interval: 10s
      retries: 120

  formbee:
    image: oia123/formbee-email-only
    expose:
      - "3000"
    environment:
      EMAIL_PROVIDER: "smtp.gmail.com"
      EMAIL_USER: ${FROM_EMAIL}
      EMAIL_PASSWORD: ${GMAIL_OAUTH2_ACCESS_TOKEN}
      EMAIL_TO: ${TO_EMAIL}
      SMTP_PORT: "465"
      ORIGIN: ${DOMAIN}

volumes:
  caddy_data:
  caddy_config:
