# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/main/schema/compose-spec.json
services:
  caddy:
    image: caddy:2-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 32M
        reservations:
          cpus: '0.05'
          memory: 24M

  adistantcloud:
    image: agiannif/adistantcloud:latest
    restart: always
    expose:
      - "1212"
    volumes:
      - ./data/adistantcloud/assets:/assets
      - ./data/adistantcloud/configs:/configs
    deploy:
      resources:
        limits:
          cpus: '0.15'
          memory: 96M
        reservations:
          cpus: '0.08'
          memory: 64M

  asoftfacade:
    image: ghost:6-alpine
    restart: always
    expose:
      - "2368"
    environment:
      NODE_ENV: production
      url: https://${GHOST_DOMAIN}
      database__client: sqlite3
      database__connection__filename: /var/lib/ghost/content/data/ghost.db
    volumes:
      - ./data/asoftfacade/ghost:/var/lib/ghost/content
    deploy:
      resources:
        limits:
          cpus: '0.55'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 192M

  formbee:
    image: oia123/formbee-email-only
    expose:
      - "3000"
    environment:
      EMAIL_PROVIDER: "smtp.gmail.com"
      EMAIL_USER: ${GHOST_FORM_FROM_EMAIL}
      EMAIL_PASSWORD: ${GMAIL_OAUTH2_ACCESS_TOKEN}
      EMAIL_TO: ${GHOST_FORM_TO_EMAIL}
      SMTP_PORT: "465"
      ORIGIN: ${GHOST_DOMAIN}
    deploy:
      resources:
        limits:
          cpus: '0.08'
          memory: 80M
        reservations:
          cpus: '0.04'
          memory: 48M

volumes:
  caddy_data:
  caddy_config:
