asoftfacade.com {
    import snippets/Logging

    reverse_proxy asoftfacade:2368

    encode gzip

    import snippets/SecurityHeaders
}

adistant.cloud {
    import snippets/Logging

    reverse_proxy adistantcloud:1212

    encode gzip

    import snippets/SecurityHeaders
}

