asoftfacade.com {
    import snippets/Logging

    handle /skinnyform/send {
        reverse_proxy skinnyform:3000
    }

    handle {
        reverse_proxy asoftfacade:2368
    }

    encode gzip

    import snippets/SecurityHeaders
}

www.asoftfacade.com {
    import snippets/Logging

    redir https://asoftfacade.com
}

adistant.cloud {
    import snippets/Logging

    reverse_proxy adistantcloud:1212

    encode gzip

    import snippets/SecurityHeaders
}
